body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    background-color: rgb(78, 113, 228);
    
}

header{
    text-align: center;
}

section{
    text-align: left;
}

.image-hdv_foto img{
    display: block;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    text-align: left; /*los heding van al centro*/
}



        
  